{% extends 'users/base.html' %}
{% block title %}UH OH!{% endblock %}

{%block content%}
<div class="row align-middle justify-content-center">
    <div class="jumbotron text-center" style='background:none'>
        <h1 class="text-warning">WHOOPSIES!</h1>
        <img class="img-fluid" src="https://media4.giphy.com/media/L0aWDywDu1ziw/giphy.gif?cid=d62363fbyutzzjp4p13e76pcgs381teymyk5gog73eqfsplo&amp;rid=giphy.gif">
        <p class="pt-5">It looks like that page doesn't know how to page. So very sorry! Click below to go back home</p>
    <a href="/"><i class="fas fa-home fa-5x"></i></a>
    </div>
    
</div>
{%endblock%}