{% extends 'base.html' %}
{% block title  %}{{post.title}}: Edit{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <h1 class="display-3">Edit Post</h1>
    <form method="POST">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Content</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="content" name="content" required>{{post.content}} </textarea>
            </div>
        </div>

        <div class="form-check">
            {% for tag in tags %}
            <div>
              <input class="form-check-input"
                     type="checkbox"
                     value="{{ tag.id }}"
                     id="tag_{{ tag.id }}"
                     {% if tag in post.tags %}checked{% endif %}
                     name="tags">
              <label class="form-check-label" for="tag_{{ tag.id }}">
                {{ tag.name }}
              </label>
            </div>
            {% endfor %}
          </div>

        <div class="form-group row">
            <div class="ml-auto mr-3">
                <a href="/users/{{post.user_id}}" class="btn btn-info">Cancel</a>
                <button type="submit" class="btn btn-success text-right">Edit</button>
            </div>
        </div>
    </form>
{% endblock %}