{% extends 'base.html' %}
{% block title  %}{{tag.name}}: Edit{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <h1 class="display-3">Edit Tag</h1>
    <form method="POST">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="{{tag.name}}" required>
            </div>
        </div>
        <div class="form-check">
            {% for post in posts %}
            <div>
              <input class="form-check-input"
                     type="checkbox"
                     value="{{ post.id }}"
                     id="post_{{ post.id }}"
                     name="posts"
                     {% if post in tag.posts %}checked{% endif %}
                     >
              <label class="form-check-label" for="post_{{ post.id }}">{{post.title}}</label>
            </div>
            {% endfor %}
          </div>
        <div class="form-group row">
            <div class="ml-auto mr-3">
                <a href="/tags/{{tag.id}}" class="btn btn-outline-info">Cancel</a>
                <button type="submit" class="btn btn-success text-right">Edit</button>
            </div>
        </div>
    </form>
{% endblock %}