.nav-link {
	font-size: 1.5em;
	margin-left: 30px;
	margin-right: 30px;
}

.oops {
	font-family: serif;
}

a.purplebutton {
	background-color: rgb(91, 28, 230);
	color: white;
}
a.purplebutton:hover {
	background: rgb(56, 3, 201);
	color: white;
	border: 1px solid rgb(91, 28, 230);
}
